html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* empuja el footer hacia abajo */
}

footer {
  background-color: #ccccff;
  color: #333;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  margin-top: auto; /* se queda al fondo */
}

@media (max-width: 600px) {
  footer {
    padding: 10px 0;
  }

  footer p {
    font-size: 12px;
  }
}
