/* Contenedor de todas las tarjetas */
.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* espacio entre tarjetas */
  justify-content: center;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.tarjetas-container .enlace {
  text-decoration: none;
}