/* Contenedor de todas las tarjetas */
.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /* espacio entre tarjetas */
  justify-content: center;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.tarjetas-container .enlace {
  text-decoration: none;
}

@media (max-width: 600px) {
  .tarjetas-container {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem;
  }

  .tarjetas-container .tarjeta {
    width: 90%;
    max-width: 320px;
  }
}
